.header {
    width: 100%;
    padding: 15px;
    background: #1976d2;
    color: white;
}

.logo {
    font-weight: bold;
}

.list {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 1em;
}