.header {
    padding: 10px 0;
    background: #1976d2;
    color: white;
}

.logo p {
    font-size: 19px;
    text-transform: lowercase;
    font-weight: bold;
}

nav.desktop ul {
    list-style: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
}