*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.mobile {
  display: none;
}
